<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="https://pegs.site/assets/css/style.css">
		</head>
		<body>
			<div class="container-lg px-3 my-5 markdown-body">
				<!-- all content here !-->
				<div class="site-title">
					<a href="https://pegs.site/stream/">pegs</a>
						<!-- update to index.html !-->
				</div>
				<div class="nav">
						<a href="https://pegs.site/r/about">About</a>, <a href="https://pegs.site/r/mailing-list">Mailing List</a>
				</div>
				<div class="content-container">
					<!-- pages or posts !-->
					{{ content }}
					<!-- pages or posts !-->
				</div>
			</div>
		</body>
	</html>
